<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a routerLink="/">
                <img src="assets/team_logo_grey.png" alt="Logo" />
            </a>
        </div>
        <div class="footer-info-hours">
            <div class="footer-info">
                <p><strong>Location:</strong><br>White Haven Park<br>63 Invergordon Ave<br>Scarborough, ON</p>
            </div>
            <div class="footer-hours">
                <p><strong>Contact Us:</strong><br>(416) 558-1330<br>fcwhitehaven&#64;gmail.com</p>
            </div>
        </div>
        <div class="footer-social">
            <p><strong>Follow us:</strong></p>
            <div class="social-icons">
                <a href="#"><img src="assets/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="assets/youtube.png" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-stay-connected">
            <p><strong>Stay Connected:</strong></p>
            <form>
                <input type="email" placeholder="Email Address" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</footer>
