<div class="faqfaq-core">
    <span class="faq-text131 WHCFCH1"><span>How can we help you?</span></span>
    <img
      src="/assets/search_bar.png"
      alt="Search bar"
      class="faq-rectangle30"
    />
    <img
      src="/assets/search.png"
      alt="Search icon"
      class="faq-imageremovebgpreview1"
    />
    <span class="faq-text133 WHCFCBody">
      <span>Search Questions...</span>
    </span>
        <span class="faq-text183 WHCFCSUBHEADING">
      <span>EXPAND ALL   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  COLLAPSE ALL</span>
    </span>
  </div>
