<div class="faqfaq-core">
    <span class="faq-text1 WHCFCH1"><span>How can we help you?</span></span>
    <span class="faq-text2 WHCFCSUBHEADING">
    
      <div class="faq-container">
        <button (click)="toggleAll(true)">EXPAND ALL</button>
        <button (click)="toggleAll(false)">COLLAPSE ALL</button>
      
        <div *ngFor="let faq of faqs; let i = index" class="faq-item">
          <div class="faq-question" (click)="toggleFaq(i)">
            <span>{{ faq.question }}</span>
            <span class="arrow" [ngClass]="{'open': faq.isOpen}">&#x25BC;</span> 
          </div>
          <div class="faq-answer" *ngIf="faq.isOpen">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
     
    </span>
  </div>
