.volunteer-testimonials {
    top: 3066px;
    left: 0px;
    width: 100vw;
    height: 901px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 1);
  }

  .volunteer-text1 {
    top: 32px;
    color: rgba(146, 226, 93, 1);
    width: 216px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
    font-weight: 700;
  }


  .volunteer-text2 {
    top: 79px;
    color: rgba(255, 255, 255, 1);
    width: 685px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    font-size: 3em;
  }

  .volunteer-cards-center {
    text-align: center;
    line-height: normal;
  }

  .volunteer-testimonial-card1 {
    top: 259px;
    left: 300px;
    width: 345px;
    height: 582px;
    display: flex;
    justify-content: center;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(67, 102, 230, 1);
    border-radius: 30px;
  }
  .volunteer-pic-name1 {
    top: 34px;
    width: 249px;
    height: 444px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }

  .volunteer-text3 {
    top: 246px;
    left: 25px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
  }

  .volunteer-text4 {
    top: 316px;
    color: rgba(255, 255, 255, 1);
    width: 249px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
  }
  .volunteer-ellipse1 {
    top: 0px;
    left: 23px;
    width: 205px;
    height: 206px;
    position: absolute;
  }
  
  .volunteer-testimonial-card2 {
    top: 259px;
    left: 660px;
    width: 345px;
    height: 582px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(67, 102, 230, 1);
    border-radius: 30px;
  }
  .volunteer-pic-name2 {
    top: 34px;
    left: 17px;
    width: 309px;
    height: 444px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
 
  .volunteer-text5 {
    top: 246px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .volunteer-text6 {
    top: 316px;
    left: 30px;
    color: rgba(255, 255, 255, 1);
    width: 249px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
  }

  .volunteer-ellipse2 {
    top: 0px;
    left: 53px;
    width: 205px;
    height: 206px;
    position: absolute;
  }

  .volunteer-testimonial-card3 {
    top: 259px;
    left: 1020px;
    width: 345px;
    height: 582px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(67, 102, 230, 1);
    border-radius: 30px;
  }
  .volunteer-pic-name3 {
    top: 34px;
    left: 47px;
    width: 249px;
    height: 444px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  
  .volunteer-text7 {
    top: 246px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
  }

  .volunteer-text8 {
    top: 316px;
    color: rgba(255, 255, 255, 1);
    width: 249px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
  }
  
  .volunteer-ellipse3 {
    top: 0px;
    left: 23px;
    width: 205px;
    height: 206px;
    position: absolute;
  }
  

