<div class="volunteer-testimonials">
    <span class="volunteer-text1 WHCFCSUBHEADING">
        <span>TESTIMONIALS</span>
    </span>
    <span class="volunteer-text2 WHCFCH1">
        <span>Voices From Our Community</span>
    </span>
    <span class="volunteer-cards-center">
    <div class="volunteer-testimonial-card1">
      <div class="volunteer-pic-name1">
        <img
          src="/assets/Michael.png"
          alt="Picture of Michael"
          class="volunteer-ellipse1"
        />
        <span class="volunteer-text3"><span>Michael F. Charles</span></span>
        <span class="volunteer-text4 WHCFCBody2">
            <span>
              &quot;Joining this club has been a game-changer for me. There is
              an amazing community and top-notch coaching!&quot;
            </span>
          </span>
      </div>
    </div>
    <div class="volunteer-testimonial-card2">
      <div class="volunteer-pic-name2">
        <img
          src="/assets/Geoff.png"
          alt="Picture of Geoff"
          class="volunteer-ellipse2"
        />
        <span class="volunteer-text5">
            <span>Geoffrey Goodfellow</span>
          </span>
        <span class="volunteer-text6 WHCFCBody2">
            <span>
              &quot;This club has brought out the best in my soccer skills and
              my confidence and it has been an incredible place to grow as a
              player and make lifelong friends.&quot;
            </span>
          </span>
      </div>
    </div>
    <div class="volunteer-testimonial-card3">
      <div class="volunteer-pic-name3">
        <img
          src="/assets/Will.png"
          alt="Picture of Will"
          class="volunteer-ellipse3"
        />
        <span class="volunteer-text7">
            <span>Will Wong</span>
        </span>
        <span class="volunteer-text8 WHCFCBody2">
          <span>
            &quot;A welcoming community and a supportive team atmosphere that
            truly fosters love for the game of soccer!&quot;
          </span>
        </span>
      </div>
    </div>
    </span>
  </div>