node_modules/
dist/
.angular/
.vscode/
.env*
.DS_Store

node_modules/
dist/
build/
.angular/
coverage/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
jspm_packages/
bower_components/
*.tsbuildinfo
.npm/
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
*.swp
*.lock
*.tmp
**/secrets.json
**/config.js
*.out
*.log
temp/
tmp/
.cache/
*.iml
*.ipr
*.iws
pip-wheel-metadata/
__pycache__/
.sass-cache/
*.pyc
*.pyo
*.pyd
.coverage
coverage-final.json
coverage-summary.json
nyc_output/
.circleci/
.github/
