<header>
  <div class="logo">
    <a routerLink="/">
      <img src="assets\team_logo.jpg" alt="Logo" />
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <!-- <li>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
        <span class="dropdown-symbol">&#9662;</span>
        <ul class="dropdown">
          <li>
            <a routerLink="/about-us/who-we-are" routerLinkActive="active"
              >Who we are</a
            >
          </li>
          <li>
            <a routerLink="/about-us/faqs" routerLinkActive="active">FAQ</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/league" routerLinkActive="active">League</a>
        <span class="dropdown-symbol">&#9662;</span>
        <ul class="dropdown">
          <li>
            <a routerLink="/league/scoreboard" routerLinkActive="active"
              >Scoreboard</a
            >
          </li>
          <li>
            <a routerLink="/league/recent-match" routerLinkActive="active"
              >Recent Match</a
            >
          </li>
          <li>
            <a routerLink="/league/schedule" routerLinkActive="active"
              >Schedule</a
            >
          </li>
        </ul>
      </li>
      <li><a routerLink="/news" routerLinkActive="active">News</a></li>
      <li>
        <a routerLink="/volunteer" routerLinkActive="active">Volunteer</a>
      </li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact</a></li> -->
        
      <li><a routerLink="/volunteer" routerLinkActive="active">Volunteer</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQs</a></li>
    </ul>
  </nav>
  <div class="donate-button">
    <button>Donate</button>
  </div>
</header>
