header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  .logo {
    display: inline-block;
    margin-left: 20px;
  }

  .logo a {
    display: inline-block;
    cursor: pointer;
  }

  .logo img {
    width: 80px;
  }

  .navbar {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        position: relative;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #000;
          padding: 10px;
          font-size: 20px;
          cursor: pointer;

          &.active {
            font-weight: bold;
            color: #007bff;
          }
        }

        &:hover .dropdown {
          display: block;
        }
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
      list-style: none;
      z-index: 1;

      li {
        margin: 0;

        a {
          padding: 10px 20px;
          display: block;
          color: #000;
          white-space: nowrap;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }

  .donate-button {
    margin-right: 20px;
    button {
      background-color: transparent;
      border: 2px solid #fe8282;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 14px;
      color: #fe8282;

      &:hover {
        background-color: #fe8282;
        color: #fff;
      }
    }
  }
}
