<div class="volunteer-get-involved">
    <span class="volunteer-text1 WHCFCH1">
      <span>How Can You Get Involved?</span>
    </span>
    <span class="volunteer-text2 WHCFCSUBHEADING">
      <span>Coaching &amp; Training</span>
    </span>
    <span class="volunteer-text3 WHCFCSUBHEADING">
      <span>Lead Fitness Programs</span>
    </span>
    <span class="volunteer-text4 WHCFCSUBHEADING">
      <span>Referee Matches</span>
    </span>
    <span class="volunteer-text5 WHCFCSUBHEADING">
      <span>Become A Linesmen</span>
    </span>
    <span class="volunteer-text6 WHCFCSUBHEADING">
      <span>Organize Tournaments</span>
    </span>
    <span class="volunteer-text7 WHCFCSUBHEADING">
      <span>Manage Volunteers</span>
    </span>
    <span class="volunteer-text8 WHCFCSUBHEADING">
      <span>Write Newsletters</span>
    </span>
    <span class="volunteer-text9 WHCFCSUBHEADING">
      <span>Marketing &amp; Promotions</span>
    </span>
    <span class="volunteer-text10 WHCFCSUBHEADING">
      <span>Coordinate Logistics</span>
    </span>
    <span class="volunteer-text11 WHCFCSUBHEADING">
      <span>Financial Budgeting</span>
    </span>
    <span class="volunteer-text12 WHCFCSUBHEADING">
      <span>Fundraising &amp; Sponsorships</span>
    </span>
    <span class="volunteer-text13 WHCFCSUBHEADING">
      <span>Community Engagement</span>
    </span>
    <img
      src="/assets/image132393-apxp-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image1"
    />
    <img
      src="/assets/image142393-6vjk-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image2"
    />
    <img
      src="/assets/image152393-92zj-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image3"
    />
    <img
      src="/assets/image162393-6w9e-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image4"
    />
    <img
      src="/assets/image172393-vq2s-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image5"
    />
    <img
      src="/assets/image182393-sloi-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image6"
    />
    <img
      src="/assets/image192393-trbh-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image7"
    />
    <img
      src="/assets/image202393-8nw6-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image8"
    />
    <img
      src="/assets/image222393-hb1k-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image9"
    />
    <img
      src="/assets/image232393-yuy-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image10"
    />
    <img
      src="/assets/image212393-8q78-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image11"
    />
    <img
      src="/assets/image214793-8oq8-200h.png"
      alt="Ways to Get Involved"
      class="volunteer-image12"
    />
  </div>