<div class="volunteer-volunteer-application-form">
    <span class="volunteer-text1 WHCFCH1"><span>Apply Now</span></span>
    <span class="volunteer-text2 WHCFCBody">
      <span>
        If you are interested in becoming a volunteer for the White Haven
        Community Football Club, please submit the following form and our team
        will invite you to a phone interview to discuss your interests.
      </span>
    </span>
    <span class="volunteer-text3 WHCFCBody"><span>First Name</span></span>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <label for="firstName">First Name:</label>
      <input type="first-name" placeholder="First Name" name="firstName" [(ngModel)]="volApplyInfo.firstName" required>
      
    
      <span class="volunteer-text4 WHCFCBody"><span>Last Name</span></span>
      
      <label for="lastName">Last Name:</label>
      <input type="last-name" placeholder="Last Name" name="lastName" [(ngModel)]="volApplyInfo.lastName" required>
      
    
    <span class="volunteer-text5 WHCFCBody">
      <span>Email Address</span>
    </span>
      <label for="emailAddress">Email:</label>
      <input type="email-address" placeholder="Email Address" name="emailAddress" [(ngModel)]="volApplyInfo.emailAddress" required>
    
    <span class="volunteer-text6 WHCFCBody"><span>Phone Number</span></span>
      <label for="phoneNumber">Phone Number:</label>
      <input type="phone-number" placeholder="(XXX) XXX - XXXX" name="phoneNumber" [(ngModel)]="volApplyInfo.phoneNumber" required>
      

    <span class="volunteer-text7 WHCFCBody"><span>Category</span></span>
    <div class="form-group">
      <div class="custom-select">
        <select id="options" name="options" required>
          <option value="" class="placeholder" disabled selected required>Select an Option</option>
          <option value="option1">Coaching & Training</option>
          <option value="option2">Fitness Programs</option>
          <option value="option3">Referees/Linesmen</option>
          <option value="option4">Marketing & Promotions</option>
          <option value="option5">Logistics Coordination</option>
          <option value="option6">Fundraising & Sponsorships</option>
          <option value="option7">Other</option>
        </select>
      </div>
    </div>    
    
    <span class="volunteer-text8 WHCFCBody">
      <span>Message (Comments, Questions, Involvement Interest)</span>
    </span>
      <label for="message">Message:</label>
      <input type="message-content" placeholder="Message" name="message" [(ngModel)]="volApplyInfo.message" required>
  
  <button type="submit" class="volunteer-button1 volunteer-text9 WHCFCButtonText">SUBMIT</button>
  <div *ngIf="formSubmitted" class="success-message WHCFCSUBHEADING">
    Form Submitted Successfully!
  </div>
</form>
  </div>