.volunteer-volunteer-application-form {
    top: 4742px;
    left: 0px;
    width: 100vw;
    height: 1103px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 1);
  }
  .volunteer-text1 {
    top: 33px;
    left: 300px;
    color: rgba(224, 212, 118, 1);
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
    font-weight: 700;
  }
  .volunteer-text2 {
    top: 146px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    width: 1065px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
    font-weight: 500;
  }

  .volunteer-volunteer-application-form form {
    margin-top: 20px;
}

  .volunteer-volunteer-application-form input[type="first-name"] {
    top: 280px;
    left: 300px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.volunteer-volunteer-application-form input[type="last-name"] {
    top: 280px;
    left: 840px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.volunteer-volunteer-application-form input[type="email-address"] {
    top: 425px;
    left: 300px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.volunteer-volunteer-application-form input[type="phone-number"] {
    top: 425px;
    left: 840px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.volunteer-volunteer-application-form input[type="message-content"] {
    top: 700px;
    left: 300px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 1040px;
    height: 220px;
}

.form-group {
    margin-bottom: 15px;
    top: 550px;
    left: 300px;
    border: none;
    position: absolute;
    border-radius: 20px;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 500px;
  height: 58px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.74);
  transition: background-color 0.3s ease;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select:after {
  content: '\25BC';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000000;
}

.custom-select select:focus {
  outline: none;
  border-color: #666;
}

.custom-select select:hover {
  background-color: #eaeaea;
}

.form-group select option.placeholder {
    color: rgb(255, 0, 0); 
}

  .volunteer-text3 {
    top: 240px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
 
  .volunteer-text4 {
    top: 240px;
    left: 840px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
  .volunteer-text5 {
    top: 384px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }

  .volunteer-text6 {
    top: 384px;
    left: 840px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
  
  .volunteer-text7 {
    top: 518px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
  
  .volunteer-text8 {
    top: 651px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }

  .volunteer-button1 {
    border: none;
    top: 956px;
    left: 1140px;
    display: flex;
    padding: 29px 30px;
    position: absolute;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: rgba(224, 212, 118, 1);
    transition: background-color 0.3s ease;
  }
  
  .volunteer-button1:hover {
    background-color: rgba(0, 225, 255, 0.871); 
  }
  
  .volunteer-text9 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    text-align: left;
    line-height: normal;
    font-weight: 700;
  }

  .success-message {
    border: none;
    top: 956px;
    left: 300px;
    display: flex;
    padding: 29px 30px;
    position: absolute;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    color: rgba(146, 226, 93, 1);
  }