<div class="volunteer-volunteer-application-form">
    <span class="volunteer-text1 WHCFCH1"><span>Apply Now</span></span>
    <span class="volunteer-text2 WHCFCBody">
      <span>
        If you are interested in becoming a volunteer for the White Haven
        Community Football Club, please submit the following form and our team
        will invite you to a phone interview to discuss your interests.
      </span>
    </span>
    <span class="volunteer-text3 WHCFCBody"><span>First Name</span></span>
    <form>
      <input type="first-name" placeholder="First Name" required>
    </form>
      <span class="volunteer-text4 WHCFCBody"><span>Last Name</span></span>
    <form>
      <input type="last-name" placeholder="Last Name" required>
    </form>
    <span class="volunteer-text5 WHCFCBody">
      <span>Email Address</span>
    </span>
    <form>
      <input type="email-address" placeholder="Email Address" required>
    </form>
    <span class="volunteer-text6 WHCFCBody"><span>Phone Number</span></span>
    <form>
      <input type="phone-number" placeholder="(XXX) XXX - XXXX" required>
    </form>

    <span class="volunteer-text7 WHCFCBody"><span>Category</span></span>
    <div class="form-group">
      <select id="options" name="options" required>
          <option value="" class="placeholder" disabled selected>Select an Option</option>
          <option value="option1">Coaching & Training</option>
          <option value="option2">Fitness Programs</option>
          <option value="option3">Referees/Linesmen</option>
          <option value="option4">Marketing & Promotions</option>
          <option value="option5">Logistics Coordination</option>
          <option value="option6">Fundraising & Sponsorships</option>
          <option value="option7">Other</option>
      </select>
    </div>
    
    <span class="volunteer-text8 WHCFCBody">
      <span>Message (Comments, Questions, Involvement Interest)</span>
    </span>
    <form>
      <input type="message-content" placeholder="Message" required>
    </form>
  <button class="volunteer-button1 volunteer-text9 WHCFCButtonText">SUBMIT</button>
  </div>