@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%; 
    margin: 0;
    flex-direction: column;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  router-outlet {
    flex-grow: 1; 
  }
  
  footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 40px 20px;
  }

  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .Header1 {
    font-size: 34px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: -0.02em;
  }
  .Header2 {
    font-size: 20px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: -0.02em;
  }
  .Body {
    font-size: 13px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 400px;
    font-stretch: normal;
    letter-spacing: -0.02em;
  }
  .Home {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCMainTItle {
    font-size: 96px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCBody {
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCButtonText {
    font-size: 30px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 600px;
    font-stretch: normal;
    letter-spacing: 0.1em;
  }
  .WHCFCH1 {
    font-size: 48px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCH2 {
    font-size: 36px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 700px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCSUBHEADING {
    font-size: 24px;
    font-style: normal;
    font-family: Outfit;
    font-weight: 800px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .WHCFCBody2 {
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400px;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  
