.faq-faq-missing-form {
    top: 2000px;
    left: 0px;
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 1);
  }
  .faq-text1 {
    top: 33px;
    left: 300px;
    color: rgba(224, 212, 118, 1);
    height: auto;
    position: absolute;
    text-align: center;
    line-height: normal;
    font-weight: 700;
  }
  .faq-text2 {
    top: 146px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    width: 1065px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
    font-weight: 500;
  }

  .faq-faq-missing-form form {
    margin-top: 20px;
}

  .faq-faq-missing-form input[type="first-name"] {
    top: 280px;
    left: 300px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.faq-faq-missing-form input[type="last-name"] {
    top: 280px;
    left: 840px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.faq-faq-missing-form input[type="email-address"] {
    top: 425px;
    left: 300px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.faq-faq-missing-form input[type="phone-number"] {
    top: 425px;
    left: 840px;
    height: 58px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 500px;
}

.faq-faq-missing-form input[type="message-content"] {
    top: 568px;
    left: 300px;
    padding: 10px;
    border: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-right: 10px;
    font-size: 16px;
    width: 1040px;
    height: 116px;
}

  .faq-text3 {
    top: 240px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
 
  .faq-text4 {
    top: 240px;
    left: 840px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
  .faq-text5 {
    top: 384px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }

  .faq-text6 {
    top: 384px;
    left: 840px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }
  
  .faq-text7 {
    top: 528px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: normal;
  }

  .faq-button1 {
    border: none;
    top: 725px;
    left: 1140px;
    display: flex;
    padding: 29px 30px;
    position: absolute;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: rgba(224, 212, 118, 1);
    transition: background-color 0.3s ease;
  }
  
  .faq-button1:hover {
    background-color: rgba(0, 225, 255, 0.871); 
  }
  

  .faq-text9 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    text-align: left;
    line-height: normal;
    font-weight: 700;
  }