<div class="faq-faq-missing-form">
    <span class="faq-text1 WHCFCH1"><span>Did We Miss Anything?</span></span>
    <span class="faq-text2 WHCFCBody">
      <span>
        If you have any further questions for the White Haven Community Football Club, please submit the following form and our team will reach out to you with an answer.
      </span>
    </span>
    <span class="faq-text3 WHCFCBody"><span>First Name</span></span>
    <form>
      <input type="first-name" placeholder="First Name" required>
    </form>
      <span class="faq-text4 WHCFCBody"><span>Last Name</span></span>
    <form>
      <input type="last-name" placeholder="Last Name" required>
    </form>
    <span class="faq-text5 WHCFCBody">
      <span>Email Address</span>
    </span>
    <form>
      <input type="email-address" placeholder="Email Address" required>
    </form>
    <span class="faq-text6 WHCFCBody"><span>Phone Number</span></span>
    <form>
      <input type="phone-number" placeholder="(XXX) XXX - XXXX" required>
    </form>
    
    <span class="faq-text7 WHCFCBody">
      <span>Question</span>
    </span>
    <form>
      <input type="message-content" placeholder="Question?" required>
    </form>
  <button class="faq-button1 faq-text9 WHCFCButtonText">SUBMIT</button>
</div>