<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/Team Logo.JPG" alt="Logo">
        </div>
        <div class="footer-info-hours">
            <div class="footer-info">
                <p>White Haven Park<br>63 Invergordon Ave<br>Toronto, ON</p>
            </div>
            <div class="footer-hours">
                <p><strong>Hours</strong><br>Sunday: 5pm–8pm<br>Wednesday: 6pm–8pm</p>
            </div>
        </div>
        <div class="footer-social">
            <p>Follow us</p>
            <div class="social-icons">
                <a href="#"><img src="assets/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="assets/youtube.png" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-stay-connected">
            <p>Stay Connected with us!</p>
            <form>
                <input type="email" placeholder="Email Address" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</footer>
