
<div class="volunteer-volunteer-header-black">
    <div class="volunteer-volunteer-header">
        <span class="volunteer-text1"><span>Volunteer With Us!</span></span>
        <span class="volunteer-text2 WHCFCBody">
            <span>
            Join White Haven Football Club as a volunteer and make a positive
            impact in your community! This is a great opportunity to promote
            health, fitness, and community spirit while gaining experience and
            making new friends.
            <!-- <span [innerHTML]="raw8g2z"></span> -->
            </span>
        </span>
        <img
            src="/assets/girl_volunteer.png"
            alt="WHCFC Volunteer Coach"
            class="volunteer-image1"
        />
        <button class="volunteer-button1 volunteer-text3 WHCFCButtonText" (click)="scrollToBottom()">APPLY NOW</button>
    </div>
</div>
