<div class="volunteer-discover-volunteering-opps">
    <span class="volunteer-text1 WHCFCH1">
      <span>Discover Volunteer Opportunities for You!</span>
    </span>
    <span class="volunteer-text2 WHCFCBody">
        <span>
            We rely on volunteers to assist with scrimmages, coach young players,
            organize events, coordinate logistics, and handle administrative
            tasks.
        </span>
    </span>
  </div>

  <div class="volunteer-connect1">
    <div class="volunteer-connect2">
        <span class="volunteer-text3 WHCFCSUBHEADING">
            <span>CONNECT</span>
        </span>
      <span class="volunteer-text4 WHCFCH2">
        <span>Network with Your Community Members</span>
      </span>
      <span class="volunteer-text5 WHCFCBody2">
        <span>
          Meet like-minded individuals who share your passion for soccer and
          community service to make meaningful friendships and develop a sense
          of belonging within the community.
        </span>
      </span>
    </div>
    <img
      src="/assets/Shaun_meet.png"
      alt="Meeting up with Shaun"
      class="volunteer-Shaun"
    />
  </div>