<div class="volunteer-discover-volunteering-opps">
    <span class="volunteer-text1 WHCFCH1">
      <span>Discover Volunteer Opportunities for You!</span>
    </span>
    <span class="volunteer-text2 WHCFCBody">
        <span>
            We rely on volunteers to assist with scrimmages, coach young players,
            organize events, coordinate logistics, and handle administrative
            tasks.
        </span>
    </span>
  </div>

  <div class="volunteer-connect1">
    <div class="volunteer-connect2">
        <span class="volunteer-text3 WHCFCSUBHEADING">
            <span>CONNECT</span>
        </span>
      <span class="volunteer-text4 WHCFCH2">
        <span>Network with Your Community Members</span>
      </span>
      <span class="volunteer-text5 WHCFCBody2">
        <span>
          Meet like-minded individuals who share your passion for soccer and
          community service to make meaningful friendships and develop a sense
          of belonging within the community.
        </span>
      </span>
    </div>
    <img
      src="/assets/Shaun_meet.png"
      alt="Meeting up with Shaun"
      class="volunteer-Shaun"
    />
  </div>

  <div class="volunteer-gain-experience">
    <div class="volunteer-connect3">
        <span class="volunteer-text6 WHCFCSUBHEADING">
            <span>GAIN EXPERIENCE</span>
          </span>
        <span class="volunteer-text7 WHCFCH2">
            <span>Develop Your Skills in Event Management</span>
        </span>
        <span class="volunteer-text8 WHCFCBody2">
            <span>
            Improve your communication, leadership and teamwork capabilities
            that are valuable in many areas of life and work. Enhance your
            problem-solving abilities, as you learn to handle unexpected
            challenges.
            </span>
        </span>      
    </div>
    <img
      src="/assets/coaching.png"
      alt="Coach mentors team"
      class="volunteer-image2"
    />
  </div>

  <div class="volunteer-support">
    <div class="volunteer-connect4">
        <span class="volunteer-text9 WHCFCSUBHEADING">
            <span>MAKE A DIFFERENCE</span>
          </span>      
        <span class="volunteer-text10 WHCFCH2">
        <span>Support a great cause for Canadians</span>
      </span>
      <span class="volunteer-text11 WHCFCBody2">
        <span>
          Contribute to a non-for-profit organization dedicated to promoting
          community by helping us provide a positive and inclusive environment
          for players of all ages and skill levels.
        </span>
      </span>
    </div>
    <img
      src="/assets/canada_soccer.png"
      alt="Canadians playing soccer"
      class="volunteer-image3"
    />
  </div>

  <div class="volunteer-middle-button">
    <span class="volunteer-text12"><span>ARE YOU INTERESTED?</span></span>
    <span class="volunteer-text13">
      <span>Join the movement shaping the future of soccer</span>
    </span>
    <button class="volunteer-button1 volunteer-text14 WHCFCButtonText" (click)="scrollToBottom()">APPLY NOW</button>
  </div>